.header {
  background-color: #fff;
  padding: 10px 20px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.button-hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.header-logo-text {
  font-size: 20px;
  font-weight: 900;
}

.header-slider {
  padding: 10px 2px;
  display: inline-block;
  list-style-type: none;
}

.header-slider-item {
  background-color: #fff;
  color: #000;
  font-weight: 300;
  font-size: 20px;
  padding: 10px 20px;
  align-content: center;
  display: inline-block;
  width: 100px;
  text-align: center;
  font-family: Roboto;
}

.header-slider-item:hover {
  background-color: #307fe2;
  color: #fff;
  cursor: pointer;
}

.header-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-icon-item {
  padding: 10px;
  font-size: 30px;
  width: 1em;
  height: 1em;
}

/* Footer */
.footer{
  
}

.footer-heading{
  padding:10px;
text-align: center;
background-color: #C1C1C1;
}

.footer-content{
display: flex;
justify-content: space-evenly;
margin:30px 0;
}

.FC-item{
width: 20%;
}

.FCi-list{
  list-style-type: none;
}

.FCi-name{
font-weight: 700;
}

.FCi-topic{
padding-top:10px;
border-bottom: #ccc solid 1px;
width: 100%;
cursor: pointer;
}

.FCi-topic img {
  width: 16px;
  height: 16ps;
}

#imgBCT {
  width: 100%;
}

.footer-end{
  padding:10px;
  text-align: center;
background-color: #307FE2;
}
